.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  padding: 24px 18px 24px 18px;
  text-align: center;
}

.advantages__title {
  margin: 0;

}

.advantages__description {
  margin-top: 50px;
  margin-bottom: 0;
}

.advantages__block {
  text-align: center;
  padding: 58px 18px 58px 18px;
}
