.body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  min-width: 320px;
}
