@use "../common/variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(203deg 47% 66% / 100%);
  color: hsl(0deg 0% 100% / 100%);
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.button:hover {
  background-color: hsl(203deg 42% 58% / 100%);
}

.button:active {
  background-color: hsl(202deg 44% 54% / 100%);
  color: hsl(0deg 0% 100% / 30%);
}

.button:disabled {
  background-color: hsl(0deg 0% 90% / 100%);
  color: hsl(0deg 0% 100% / 30%);
}


.button__link {
  min-width: 280px;
  display: block;
  text-decoration: none;
  padding: 16px 49px;
  color: hsl(0deg 0% 100% / 100%);
  cursor: pointer;
}

@media (min-width: variables.$tablet-width) {
  .button__link {
    min-width: 458px;
  }
}
