@use "../common/variables.scss";

.copyright__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.copyright__developed {
  display: block;
  color: hsl(0, 0%, 0%);
}

@media (min-width: variables.$tablet-width) {
  .copyright__link {
    justify-content: center;
  }
}
