@use "../common/variables.scss";

.fieldsets__item--emotions {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

.fieldsets__submit {
  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: variables.$tablet-width) {
  .fieldsets__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
