@use "../common/mixins.scss";
@use "../common/variables.scss";

.fieldsets__submit {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 48px;
}

@media (min-width: variables.$tablet-width) {
  .fieldsets__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .fieldsets__submit {
    margin-top: 21px;
  }
}

@media (min-width: variables.$desktop-width) {
  .fieldsets__submit {
    margin-top: 40px;
  }
}
