.fieldset {
  padding: 20px;
  border: none;
}

.fieldset__input {
  background-color: #eeeeee;
  border: none;
  padding: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: hsla(0, 0%, 0%, 0.3);

  &--name {
    color: hsla(0, 0%, 0%, 1);
  }
}

.fieldset__textarea {
  padding: 16px;
  flex-grow: 1;
  border: none;
  background-color: #eeeeee;


  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: hsla(0, 0%, 0%, 0.3);
    margin: 16px;
  }
}

.fieldset__list {
  padding: 0;
}

.fieldset__list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  list-style: none;
}

.fieldset__label {
  font-weight: 700;
}

.fieldset__title {
  padding-top: 14px;
  text-align: center;
}
