@use "../common/mixins.scss";
@use "../common/variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 0;
  padding-bottom: 27px;
}

.footer__hashtag {
  margin: 0;
  margin-bottom: 29px;
}

.footer__catalog {
  padding: 29px 20px;
}


@media (min-width: variables.$tablet-width) {
  .footer {
    padding-top: 22px;
    padding-bottom: 38px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__hashtag {
    margin: 0;
    text-align: center;
  }
}

@media (min-width: variables.$desktop-width) {
  .footer {
    padding-top: 33px;
  }

  .footer__hashtag {
    margin-right: 24px;
  }
}
