@use "../common/mixins.scss";
@use "../common/variables.scss";

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  background: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: hsl(203deg 48% 67%);
}

.hero__logo {
  margin-top: 90px;
  margin-bottom: 85px;

  &--part {
    margin-top: 52px;
    margin-bottom: 67px;
  }
}

.hero__decor::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -1px;
  left: -0.5%;
  height: 27px;
  width: 101%;
  clip-path: polygon(0 100%, 0 0, 50% 100%, 100% 0%, 100% 100%);
}

@media (resolution >= 2dppx) {
  .hero {
    background: url("../img/back-mobile@2x.jpg") no-repeat center;
    background-size: cover;
  }
}

@media (min-width: variables.$tablet-width) {
  .hero {
    display: flex;
    justify-content: center;
    background: url("../img/back-tablet.jpg") no-repeat center;
    background-size: cover;
    background-color: hsl(203deg 48% 67%);
    overflow: hidden;
  }

  .hero__logo {
    min-width: 461px;
    min-height: 350px;
    margin-top: 77px;
    margin-bottom: 95px;

    &--part {
      min-width: 457px;
      min-height: 78px;
      margin-top: 94px;
      margin-bottom: 123px;
    }
  }

  .hero__decor::after {
    height: 63px;
    clip-path: polygon(0% 100%, 0% 34%, 5% 40%, 5% 0%, 50% 92%, 95% 0%, 95% 40%, 100% 34%, 100% 100%);
  }

  @media (resolution >= 2dppx) {
    .hero {
      background: url("../img/back-tablet@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }
}

@media (min-width: variables.$desktop-width) {
  .hero {
    display: flex;
    justify-content: center;
    background: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsl(203deg 48% 67%);
  }

  .hero__logo {
    min-width: 461px;
    min-height: 350px;

    &--part {
      min-width: 457px;
      min-height: 78px;
    }

    &--part-form {
      margin-top: 103px;
    }
  }

  .hero__decor::after {
    clip-path: polygon(0 100%, 0 0, 21.2% 42%, 21.2% 0%, 50% 97%, 78.8% 0%, 78.8% 42%, 100% 0, 100% 100%);
  }

  @media (resolution >= 2dppx) {
    .hero {
      background: url("../img/back-desktop@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }
}
