@use "../common/variables.scss";

.link {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}


@media (min-width: variables.$tablet-width) {
  .link {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
  }
}
