@use "../common/variables.scss";

.map {
  display: flex;
  background: url("../img/map-mobile.png") no-repeat, center;
  background-size: cover;
  background-color: hsl(203deg 47% 66%);
  min-height: 350px;
}

.map__width {
  flex-grow: 1;
}

@media (min-width: variables.$tablet-width) {
  .map {
    background-image: url("../../img/map-tablet.png");
    background-repeat: no-repeat;
    background-color: hsl(203deg 47% 66%);
  }

  
.map__width {
  min-height: 370px;
}
}
