@use "../common/mixins.scss";
@use "../common/variables.scss";


.navigation-list__item {
  border-bottom: 1px solid hsl(0deg 0% 0% / 20%);
  border-top: 1px solid hsl(0deg 0% 100% / 20%);
  padding: 17px 0 12px;
  background-color: hsl(203deg 47% 66%);
}

.navigation-list__item:hover {
  background-color: hsl(203deg 42% 58%);
}

.navigation-list__item:active {
  background-color: hsl(202deg 44% 54%);
}

.navigation-list__toggle {
  z-index: 6;
  position: absolute;
  top: 71px;
  right: 20px;
  min-height: 20px;
  min-width: 23px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.navigation-list__close-img {
  cursor: pointer;
  color: hsl(0deg 0% 100%);

  &:hover {
    color: hsl(0deg 0% 100% / 60%);
  }

  &:active {
    color: hsl(0deg 0% 100% / 30%);
  }
}

@media (min-width: variables.$tablet-width) {
  .navigation-list {
    @include mixins.list-reset;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &::after {
      content: "";
      grid-column: 3/4;
      grid-row: 1/4;
    }
  }

  .navigation-list__item {
    background-color: hsl(0deg 0% 100%);
    border: none;
    padding-top: 16px;
  }

  .navigation-list__item:hover {
    background-color: hsl(0deg 0% 100%);
  }

  .navigation-list__link {
    margin: auto;
    padding: 17px 0 12px;
    max-width: 240px;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      color: hsl(203deg 47% 66% / 100%);
    }

    &:active {
      color: hsl(0deg 0% 70% / 100%);
    }

    &--current {
      color: hsl(23deg 15% 40% / 100%);
    }
  }

  .navigation-list__toggle {
    display: none;
  }
}
