@use "../common/mixins.scss";
@use "../common/variables.scss";

.photo {
  border-bottom: 1px solid hsl(0deg 0% 90% / 100%);
}

.photo-list {
  @include mixins.list-reset;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.photo-list__item {
  background-color: hsl(0deg 0% 95%);

  &:first-child {
    grid-column: 1/-1;
  }
}

.photo__item {
  @include mixins.list-reset;
  padding: 0 20px;
  padding-top: 22px;
  border-top: 1px solid hsla(0, 0%, 90%, 1);

  &:last-child {
    border-bottom: 1px solid hsla(0, 0%, 90%, 1);
  }
}

.photo__img {
  max-height: 100%;
  width: 100%;
  vertical-align: middle;
}

.photo__figcaption {
  padding: 19px 0 15px;
}

.photo__figcaption:first-child {
  padding: 15px 0 15px;
}

.photo__caption {
  font-weight: 700;
  margin: 0;
  color: hsl(0deg 0% 0%);

  &--secondary {
    text-transform: none;
    color: hsl(0deg 0% 20%);
    font-weight: 400;
  }
}

.photo__likes {
  display: flex;
  align-items: center;
}

.photo__likes-number {
  position: relative;
  display: block;
  font-weight: 700;
}

.photo__likes-button {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 37px;
  height: 44px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: -5px;
  margin-right: 5px;
}

.photo__like {
  color: #000000;
  opacity: 0.3;
}

.video__description {
  margin-top: 27px;
}

@media (min-width: variables.$tablet-width) {
  .photo__figcaption {
    padding: 22px 20px 15px;
    display: flex;
    justify-content: space-between;
  }

  .photo-list {
    padding: 0 60px;
  }

  .photo-list__item:nth-child(2n+3) {
    background-color: hsl(0deg 0% 92%);
  }

  .photo__item {
    padding: 0;
  }

  .photo-list__item {
    padding: 0;

    &:first-child {
      padding-top: 41px;
    }
  }

  .photo__likes-button {
    margin-right: 1px;
    margin-top: -5px;
  }

  .video {
    padding: 0 60px;
    margin: 56px 0 40px;
  }

  .video__description {
    font-size: 14px;
    line-height: 21px;
    margin: 0 73px;
    margin-top: 31px;
  }

  .video__wrapper {
    margin-top: 48px;
  }

  .footer__catalog {
    padding: 0;
    padding-top: 31px;
    padding-bottom: 38px;
  }
}

@media (min-width: variables.$desktop-width) {
  .photo__item {
    position: relative;
  }

  .photo__figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: hsl(0deg 0% 0% / 30%);
    color: hsl(0deg 0% 100% / 100%);
    width: 100%;
  }

  .photo__caption {
    color: hsl(0deg 0% 100% / 100%);
  }

  .photo__like {
    color: #ffffff;
    opacity: 1;
  }

  .hero__logo--part {
    margin-top: 102px;
    margin-bottom: 124px;
  }

  .photo-gallery__block {
    padding: 81px 14px 25px 14px;
  }

  .photo-list {
    padding: 0;
  }

  .photo-list__item:first-child {
    padding-top: 49px;
  }

  .video {
  padding: 0;
  margin: 58px 201px;
  }

  .video__description {
    margin: 0 148px;
    margin-top: 31px;
  }

  .footer__catalog {
    padding-top: 57px;
  }
}
