@use "../common/mixins.scss";
@use "../common/variables.scss";

.photo {
  border-bottom: 1px solid hsl(0deg 0% 90% / 100%);
}

.photo-list {
  @include mixins.list-reset;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.photo-list__item {
  background-color: hsl(0deg 0% 95%);

  &:first-child {
    grid-column: 1/-1;
  }
}

.photo__item {
  @include mixins.list-reset;
}

.photo__img {
  max-height: 100%;
  width: 100%;
  vertical-align: middle;
}

.photo__figcaption {
  padding: 22px 0 15px;
}

.photo__caption {
  font-weight: 700;
  margin: 0;
  color: hsl(0deg 0% 0%);

  &--secondary {
    text-transform: none;
    margin: 11px 0;
    color: hsl(0deg 0% 20%);
    font-weight: 400;
  }
}

.photo__likes {
  display: flex;
  align-items: center;
}

.photo__likes-number {
  position: relative;
  display: block;
  font-weight: 700;
}

.photo__likes-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 31px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.photo__like {
  color: #000000;
  opacity: 0.3;
}

@media (min-width: variables.$tablet-width) {
  .photo__figcaption {
    padding: 22px 20px 15px;
    display: flex;
    justify-content: space-between;
  }

  .photo-list__item:nth-child(2n+3) {
    background-color: hsl(0deg 0% 92%);
  }
}

@media (min-width: variables.$desktop-width) {
  .photo__item {
    position: relative;
  }

  .photo__figcaption {
    position: absolute;
    bottom: 1px;
    left: 0;
    background-color: hsl(0deg 0% 0% / 30%);
    color: hsl(0deg 0% 100% / 100%);
    width: 100%;
  }

  .photo__caption {
    color: hsl(0deg 0% 100% / 100%);
  }

  .photo__like {
    color: #ffffff;
    opacity: 1;
  }
}
