@use "../common/variables.scss";
@use "../common/mixins.scss";

.social-list {
  @include mixins.list-reset;
  margin-bottom: 30px;
  display: flex;
}

.social-list__item {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: 6px;
  background-color: hsl(203, 47%, 66%);
}

.social-list__link {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 48px;
  height: 48px;
}

.social-list__link:hover {
  background-color: hsla(203, 42%, 58%, 1);
}

.social-list__link:active {
  color: hsla(0, 0%, 100%, 0.3);
  background-color: hsla(202, 44%, 54%, 1);
}

.social-list__icon {
  color: hsl(0, 0%, 100%);
}

@media (min-width: variables.$tablet-width) {
  .social-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 48px);
    gap: 6px;
    justify-content: center;
  }

  .social-list__item {
    margin: 0;
  }
}
