@use "../common/variables.scss";

.submit {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.submit__button {
  border: none;
  min-width: 280px;
  min-height: 57px;
}

.submit__small-text {
  text-align: end;
}

@media (min-width: variables.$tablet-width) {
  .submit {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }

  .submit__button {
    min-width: 324px;
  }
}

@media (min-width: variables.$desktop-width) {
  .submit__button {
    min-width: 384px;
  }
}

